{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Houdini</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
		<script src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="sidebar">
			<div class="logo-container">
			</div>
			<ul class="sidebar-nav">
				<li><a href="/hierarchy"><span class="fa fa-sitemap fa-fw"></span>Hierarchy</a></li>
				<li><a href="/applications"><span class="fa fa-server fa-fw"></span>Applications</a></li>
				<li><a href="/users"><span class="fa fa-user fa-fw"></span>Users</a></li>
				<li><a href="/profiles"><span class="fa fa-id-card fa-fw"></span>Profiles</a></li>
				<li><a href="/roles"><span class="fa fa-users fa-fw"></span>Roles</a></li>
				<li><a href="/permissions"><span class="fa fa-list fa-fw"></span>Permissions</a></li>
			</ul>
		</div>

		<div class="page">
			<nav class="navbar navbar-default navbar-static-top">
			</nav>
			<div class="content container-fluid">
				<div class="row">
			        {% include 'core/messages.html' %}
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
