{% extends 'core/base.html' %}
{% block content %}
<div class="col-md-6 col-md-offset-3">
    <h2>
        Permission
        <a class="btn btn-success pull-right" href="/permissions/create">Create Permission</a>
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
        <tr>
            <td>{{ permission.name }}</td>
            <td>{{ permission.slug }}</td>
            <td>
                <a href="/permissions/edit/{{ permission.id }}"><span
                        class="fa fa-pencil-square-o text-info"></span></a>
                <a href="/permissions/delete/{{ permission.id }}"><span class="fa fa-trash text-danger"></span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
		<span class="step-links pull-left">
			{% if permissions.has_previous %}
			<a href="?page={{ permissions.previous_page_number }}">previous</a>
			{% endif %}
			{% if permissions.has_next %}
			<a href="?page={{ permissions.next_page_number }}">next</a>
			{% endif %}
		</span>
        <div class="pull-right">
            <span class="current">Page {{ permissions.number }} of {{ permissions.paginator.num_pages }}</span>
        </div>
    </div>
</div>
{% endblock %}