{% extends 'houdini_admin/base.html' %}

{% block messages %}
<!-- This is to override the position of the messages block in base.html -->
<!-- messages.html is included below, inside the main div -->
{% endblock %}

{% block content %}

<div class="col-md-10 col-md-offset-1">
    {% include 'houdini_admin/messages.html' %}

    <h2>
        {{ name|capfirst }}s
        {% if create_button %}
        <a class="btn btn-success pull-right" href="{% url 'create_'|add:name %}">Create {{ name|capfirst }}</a>
        {% endif %}
    </h2>
    <!--this will be changed from user-not to user when search feature done-->
    {% if name == "user-not" %}
    <form action="" method="post">
        {% csrf_token %}
        {{ search_name_form.action }}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label class="control-label sr-only" for="{{ field.id_for_label }}">{{ search_name_form.name.label }}</label>
            {{ search_name_form.name }}
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        {{ search_role_form.action }}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label class="control-label sr-only" for="{{ field.id_for_label }}">{{ search_role_form.role.label }}</label>
            {{ search_role_form.role }}
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            {% for column in table.columns %}
            {% if forloop.last %}
            <th>Action</th>
            {% else %}
            <th>{{ column.header|capfirst }}</th>
            {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table.page.object_list|default:table.rows %}
        <tr>
            {% for column, cell in row.items %}
            {% if forloop.last %}
            <td>
                <a href="{% url 'edit_'|add:name pk=cell %}"><span class="fa fa-pencil-square-o text-info"></span></a>
                {% if activate_button %}
                <a href="{% url 'activate_'|add:name pk=cell %}"><span class="fa fa-check-square-o text-success"></span></a>
                {% endif %}
                {% if delete_button %}
                <a href="{% url 'delete_'|add:name pk=cell %}"><span class="fa fa-trash-o text-warning"></span></a>
                {% endif %}
            </td>
            {% else %}
            <td>{{ cell }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if table.page and table.paginator.num_pages > 1 %}
    <div>
        <div class="pull-left">
            {% if table.page.has_previous %}
            <a class="btn btn-primary"
               href="{% if table.page.number is 2 %}{% url name|add:'s' %}{% else %}?page={{ table.page.previous_page_number }}{% endif %}"><span>&larr;</span>
                Previous</a>
            {% endif %}
            {% if table.page.has_next %}
            <a class="btn btn-primary" href="?page={{ table.page.next_page_number }}"><span>&rarr;</span> Next</a>
            {% endif %}
        </div>
        <div class="pull-right">
            {% if table.page.has_previous or table.page.has_next %}
            <p>Page {{ table.page.number }} of {{ table.paginator.num_pages }}
            <p>
                {% endif %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
