{% extends 'houdini_server/base.html' %}
{% block content %}
<a class="btn btn-success">Create Role</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Slug</th>
			<th>Users</th>
			<th>Permissions</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for role in roles %}
		<tr>
			<td>{{ role.name }}</td>
			<td>{{ role.slug }}</td>
			<td>{{ role.users.count }}</td>
			<td>{{ role.permissions.count }}</td>
			<td></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
