{% extends 'houdini_server/base.html' %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    {% endfor %}
    {% endif %}
    <h2>
        {{ name|capfirst }}
        <a class="btn btn-success pull-right" href="/{{ name }}s/create">Create {{ name|capfirst }}</a>
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            {% for column in table.columns %}
            {% if forloop.last %}
            <th>Action</th>
            {% else %}
            <th>{{ column.header|capfirst }}</th>
            {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table.page.object_list|default:table.rows %}
        <tr>
            {% for column, cell in row.items %}
            {% if forloop.last %}
            <td>
                <a href="{{ name }}s/edit/{{ cell }}"><span class="fa fa-pencil-square-o text-info"></span></a>
                <a href="{{ name }}s/delete/{{ cell }}"><span class="fa fa-trash-o text-warning"></span></a>
            </td>
            {% else %}
            <td>{{ cell }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if table.page and table.paginator.num_pages > 1 %}
    <div>
        <div class="pull-left">
            {% if table.page.has_previous %}
            <a class="btn btn-primary"
               href="{% if table.page.number is 2 %}{{ name }}s{% else %}?page={{ table.page.previous_page_number }}{% endif %}"><span>&larr;</span>
                Previous</a>
            {% endif %}
            {% if table.page.has_next %}
            <a class="btn btn-primary" href="?page={{ table.page.next_page_number }}"><span>&rarr;</span> Next</a>
            {% endif %}
        </div>
        <div class="pull-right">
            {% if table.page.has_previous or table.page.has_next %}
            <p>Page {{ table.page.number }} of {{ table.paginator.num_pages }}
            <p>
                {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
