body
{
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
/*	font-family: "Comic Sans MS", cursive, sans-serif;*/
	overflow: hidden;
}

.sidebar
{
	position: absolute;
	background: #083479;
	width: 225px;
	top: 0;
	left: 0;
	bottom: 0;
}

.sidebar-nav
{
	width: 100%;
	padding: 0 20px;
	list-style-type: none;
}

.sidebar-nav li
{
	padding: 10px 0;
	line-height: 0;
	vertical-align: middle;
}

.sidebar-nav li a
{
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
}

.sidebar-nav li a:hover
{
	text-decoration: none;
}

.sidebar-nav li a span
{
	display: inline-block;
	font-size: 28px;
	margin-right: 10px;
	vertical-align: middle;
}

.logo-container
{
	height: 80px;
}

.page
{
	position: absolute;
	width: calc(100% - 225px);
	top: 0;
	left: 225px;
	bottom: 0;
}

.navbar
{
	margin: 0;
	padding: 0;
}

.content
{
	margin: 25px;
}

/* CSS shenanigans for django_tables2 */
li.cardinality
{
	display: none;
}

/*.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited 
{
    background-color: #08794d !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited
{
	background-color: #790834 !important;
}*/